.bg-info{
    background: linear-gradient(45deg,rgb(39, 149, 218),black);
    color: white;
}
.bg-danger{
      background: linear-gradient(45deg,rgb(189, 47, 47),rgb(160, 191, 137),rgb(138, 185, 234));
    color: white;

}
.btn-danger{
    background: linear-gradient(45deg,rgb(189, 47, 47),rgb(63, 63, 63));
    color: white;
}
.btn-info{
    background: linear-gradient(45deg,rgb(236, 113, 228),rgb(75, 89, 143));
    color: white;
}
.btn-warning{
    background: linear-gradient(45deg,rgb(193, 209, 111),rgb(61, 44, 56));
    color: white;
}
.btn-success{
    background: linear-gradient(45deg,rgb(55, 95, 5),rgb(48, 53, 72));
    color: white;
}

.cn{
    background-color: aliceblue;
    width: 500px;
    padding: 20px;
    border-radius: 5px;
      position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(17, 17, 17,0.6);
    z-index: 2;

}
form{
    background-color: aliceblue;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
}